/* details styles */
/* details box */
.details-box-container {
  max-width: 1000px;
  height: auto;
  margin-inline: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  cursor: default;
}
.details-box-container .details-box-image {
  height: 100%;
  width: 400px;
}
.details-box-container .details-box-image .product-main-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: var(--border_radius_2);
  background-color: #f8f9fa;
  border: 1px solid var(--bg_color_2);
  mix-blend-mode: darken;
}
.details-box-container .details-box-image .product-main-image-dif {
  height: 490px;
  width: 400px;
  object-fit: cover;
  border-radius: var(--border_radius_2);
  background-color: var#f8f9fa;
  border: 1px solid var(--bg_color_2);
  mix-blend-mode: darken;
}
.details-box-container .details-box-image .thumbnail-row {
  height: 100px;
  width: 100%;
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
.details-box-container .details-box-image .thumbnail-row .thumbnail-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: var(--border_radius_2);
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  mix-blend-mode: darken;
  transition: 300ms ease-out;
}
.details-box-container .details-box-image .thumbnail-row .active-product {
  border: 1px solid var(--bg_color_2);
}
.details-box-container .details-box-content {
  height: 100%;
  width: 500px;
}
.details-box-container .details-box-content h3 {
  color: var(--text_color_highlight_2);
  margin-top: 20px;
}
.details-box-container .details-box-content .details-box-seller-info {
  width: auto;
  height: 30px;
  padding: 6px;
  display: flex;
  align-items: center;
  color: var(--text_color_highlight_1);
  margin-top: 8px;
  cursor: pointer;
}
.details-box-container .details-box-content .details-box-description {
  margin-top: 40px;
}
.details-box-container
  .details-box-content
  .details-box-description
  p:nth-child(1) {
  opacity: 0.7;
  font-size: 14px;
}
.details-box-container
  .details-box-content
  .details-box-description
  p:nth-child(2) {
  margin-top: 6px;
}
.details-box-container .details-box-content span {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
}
.details-box-container .details-box-content .details-box-span {
  margin-top: 20px;
}
.details-box-container .details-box-content span p {
  opacity: 0.7;
  font-size: 14px;
}
.details-box-container .details-box-content .details-box-options {
  margin-top: 10px;
  height: auto;
}
.details-box-container .details-box-content .details-box-options p {
  opacity: 0.7;
  font-size: 14px;
}
.details-box-container .details-box-content .details-box-options h5 {
  margin-top: 5px;
}
.details-box-container
  .details-box-content
  .details-box-options
  .details-box-options-button-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}
.details-box-container
  .details-box-content
  .details-box-options
  .details-box-options-button-container
  h5 {
  height: 30px;
  min-width: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid var(--bg_color_strong_2);
  color: var(--text_color_highlight_3);
  cursor: pointer;
}
.details-box-container
  .details-box-content
  .details-box-options
  .details-box-options-button-container
  .selected-option {
  background-color: var(--bg_color_strong_2);
  color: var(--text_color_lite);
}
.details-box-container .details-box-content .details-box-button-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin-top: 20px;
}
.details-box-container
  .details-box-content
  .details-box-button-container
  button {
  width: 200px;
  background-color: #178bcd;
  border: 1px solid #178bcd;
  color: var(--text_color_lite);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.details-box-container
  .details-box-content
  .details-box-button-container
  button:hover {
  background-color: var(--bg_color_4);
  color: #178bcd;
}
.details-box-container
  .details-box-content
  .details-box-button-container
  button:nth-child(2) {
  width: 100px;
  background-color: var(--primary_color);
  border: 1px solid var(--primary_color);
  color: var(--text_color_lite);
}
.details-box-container
  .details-box-content
  .details-box-button-container
  button:nth-child(2):hover {
  background-color: var(--bg_color_4);
  color: var(--text_color_highlight_1);
}
.details-box-container .details-box-content .details-box-paywith {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.details-box-container .details-box-content .details-box-paywith img {
  height: 40px;
  width: auto;
}
@media (max-width: 942px) {
  .details-box-container {
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 426px) {
  .details-box-container .details-box-image {
    width: 98%;
  }
  .details-box-container .details-box-image .product-main-image {
    width: 100%;
  }
}
/* reviews section */
.review-container {
  max-width: 70%;
  height: auto;
  margin-top: 100px;
  margin-inline: auto;
  cursor: default;
}
.review-container .review-head {
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-container .review-head h2 {
  color: var(--text_color_highlight_1);
  margin-right: 30px;
  text-transform: uppercase;
}
.review-container .review-head h4 i {
  color: #c4c400;
  margin-left: 5px;
}
.review-container .review-head h4 h5 {
  font-size: 16px;
}
.review-container .review-head p {
  font-size: 14px;
  opacity: 0.7;
}
.review-container .review-box {
  width: 800px;
  margin-top: 40px;
  margin-inline: auto;
}
.review-container .review-box .review-box-review {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  gap: 20px;
  border: 1px solid var(--bg_color_2);
  border-radius: var(--border_radius_2);
  background-color: var(--bg_color_5);
  margin-top: 10px;
}
.review-container .review-box .review-box-review img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.review-container .review-box .review-box-review .review-box-content h5 i {
  color: #c4c400;
  margin-left: 5px;
}
.review-container .review-box .review-box-review .review-box-content h5 {
  margin-top: 10px;
}
.review-container .review-box .review-box-review .review-box-content p {
  font-size: 15px;
  opacity: 0.7;
}
.review-container .review-box-show-more-products {
  width: 200px;
  height: 40px;
  margin-inline: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .review-container {
    max-width: 95%;
  }
  .review-container .review-head {
    width: 100%;
  }
  .review-container .review-box {
    width: 100%;
  }
}
/* map location section */
.location-container {
  max-width: 1200px;
  height: auto;
  margin-top: 150px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
  cursor: default;
  background-color: var(--bg_color_5);
  border-radius: var(--border_radius_2);
}
.location-container .location-content {
  width: 400px;
  padding: 20px;
}
.location-container .location-content h3 {
  color: var(--text_color_highlight_2);
}
.location-container .location-content h5 {
  color: var(--text_color_highlight_1);
  margin-top: 5px;
}
.location-container .location-content .location-instructions {
  margin-top: 20px;
}
.location-container .location-content .location-instructions p {
  margin-top: 10px;
}
.location-container .location-map {
  width: 750px;
  border: 1px solid var(--bg_color_2);
  border-radius: var(--border_radius_2);
}
@media (max-width: 1224px) {
  .location-container {
    justify-content: center;
  }
}
@media (max-width: 1189px) {
  .location-container .location-map {
    width: 100%;
  }
}
