/* account styles */
/* account section */
.user-account-info-margin {
  width: 100%;
  height: 260px;
  background-image: linear-gradient(
      270deg,
      rgba(0, 95, 78, 0.52) 0%,
      rgba(45, 68, 92, 0.611) 100%
    ),
    url(customer-account-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -60px;
}
/* account section */
.user-account-info-container {
  max-width: 1000px;
  height: auto;
  margin-top: -150px;
  z-index: 2;
  margin-inline: auto;
  text-align: center;
  cursor: default;
  position: relative;
}
.user-account-info-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--bg_color_4);
}
.user-account-info-container h3 {
  color: var(--text_color_highlight_1);
}
.user-account-info-container .user-account-info-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 30px;
  background-color: var(--bg_color_5);
  border-radius: var(--border_radius_1);
  border: 1px solid var(--bg_color_2);
  gap: 20px;
}
.user-account-info-container .user-account-info-box .user-account-info-content {
  width: 450px;
  height: auto;
  text-align: left;
}
.user-account-info-container
  .user-account-info-box
  .user-account-info-content
  h4 {
  color: var(--text_color_highlight_2);
}
.user-account-info-container
  .user-account-info-box
  .user-account-info-content
  span {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 16px;
  gap: 10px;
  flex-direction: column;
}
.user-account-info-container
  .user-account-info-box
  .user-account-info-content
  span
  p {
  opacity: 0.7;
}
.user-account-info-container
  .user-account-info-box
  .user-account-info-content
  span
  h5 {
  margin-top: 5px;
}
.user-account-info-container
  .user-account-info-box
  .user-account-info-content
  button {
  width: 150px;
  margin-top: 30px;
  background-color: var(--primary_color);
  color: var(--text_color_lite);
  border: 1px solid var(--primary_color);
}
.user-account-info-container
  .user-account-info-box
  .user-account-info-content
  button:hover {
  background-color: var(--bg_color_5);
  color: var(--text_color_highlight_1);
}
.user-account-info-container
  .user-account-info-box
  .user-account-info-content
  .user-account-info-span {
  margin-bottom: 10px;
}
.user-account-info-container
  .user-account-info-box
  .user-account-info-content
  .user-account-info-h5 {
  line-height: 1.5;
}
/* settings section */
.user-setting-container {
  width: 450px;
  height: auto;
  text-align: left;
  padding-left: 20px;
  border-left: 1px solid var(--bg_color_2);
}
.user-setting-container .user-setting-content h4 {
  color: var(--text_color_highlight_2);
}
.user-setting-container .user-setting-content span {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 16px;
  gap: 10px;
  flex-direction: column;
}
.user-setting-container .setting-content {
  margin-top: 30px;
}
.user-setting-container .setting-content h4 {
  color: var(--text_color_highlight_2);
}
.user-setting-container .setting-content span {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 16px;
  gap: 10px;
  flex-direction: column;
}
.user-setting-container .setting-content span p {
  opacity: 0.7;
}
.user-setting-container .setting-content span h5 {
  margin: 4px 0 0 0;
}
.user-setting-container .setting-content span button,
.user-setting-container .user-setting-content span button {
  width: 150px;
  background-color: var(--primary_color);
  color: var(--text_color_lite);
  border: 1px solid var(--primary_color);
}
.user-setting-container .setting-content span button:hover,
.user-setting-container .user-setting-content span button:hover {
  background-color: var(--bg_color_5);
  color: var(--text_color_highlight_1);
}
.user-setting-container .setting-content .setting-button {
  margin-top: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.user-setting-container .setting-content .setting-button button:nth-child(1) {
  width: 150px;
  background-color: #178bcd;
  color: var(--text_color_lite);
  border: 1px solid #178bcd;
}
.user-setting-container
  .setting-content
  .setting-button
  button:nth-child(1):hover {
  background-color: var(--bg_color_5);
  color: #178bcd;
}
/* head section */
.activity-head {
  max-width: 500px;
  margin-inline: auto;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.activity-head h2 {
  color: var(--text_color_highlight_1);
  text-transform: uppercase;
}
/* account activity section */
.account-activity-container {
  max-width: 1100px;
  height: auto;
  margin-inline: auto;
  margin-top: 60px;
  padding: 10px;
  cursor: default;
}
.account-activity-container .activity-category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.activity-category h4 {
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg_color_5);
  color: var(--text_color_highlight_3);
  border-left: 3px solid transparent;
  cursor: pointer;
}
.activity-category .active-category {
  background-color: var(--bg_color_2);
  border-left: 3px solid var(--bg_color_strong_2);
}
.activity-container {
  width: 100%;
  height: auto;
  margin-inline: auto;
  margin-top: 20px;
}
