/* search styles */
/* search bar */
.search-bar-container {
  max-width: 1100px;
  height: auto;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 20px;
  border-radius: var(--border_radius_2);
  background-color: var(--bg_color_2);
}
.search-bar-container input {
  width: 500px;
  height: 60px;
  border-radius: 3px;
  border: 1px solid var(--bg_color_2);
}
.search-bar-container .search-bar-filter-location-dropbox {
  width: 320px;
  border-radius: 3px;
}
.search-bar-container button {
  width: 200px;
  height: 60px;
  background-color: #178bcd;
  color: var(--text_color_lite);
}
.search-bar-container button:hover {
  background-color: #009af3;
}
