/* seller home styles */
/* count section */
.count-container .count-box h2 i {
  color: #c4c400;
  margin-right: 10px;
}
/* appointment section */
.appointment-container {
  max-width: 80%;
  height: auto;
  margin-inline: auto;
  margin-top: 40px;
  gap: 20px;
  padding: 10px;
  cursor: default;
}
.appointment-item-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: var(--border_radius_1);
  background-color: var(--bg_color_5);
  margin-top: 10px;
  border: 1px solid var(--bg_color_2);
  gap: 30px;
  transition: 300ms ease-out;
}
.appointment-item-container:hover {
  border: 1px solid var(--bg_color_3);
}
.appointment-item-container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--border_radius_2);
  border: 1px solid var(--bg_color_2);
}
.appointment-item-container .appointment-item-content h3 {
  color: var(--text_color_highlight_1);
}
.appointment-item-container .appointment-item-content span {
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.appointment-item-container .appointment-item-content span p {
  opacity: 0.7;
}
.appointment-item-container .appointment-item-content span h5 {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text_color_lite);
}
.appointment-item-container .appointment-item-content span h6 {
  font-size: 16px;
}
.appointment-item-container .appointment-item-action {
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 10px;
}
.appointment-item-container .appointment-item-action button:nth-child(1) {
  width: 100px;
  background-color: #178bcd;
  color: var(--text_color_lite);
  border: 1px solid #178bcd;
}
.appointment-item-container .appointment-item-action button:nth-child(1):hover {
  background-color: var(--bg_color_5);
  color: #178bcd;
}
