/* info styles */
/* account section */
.account-info-margin {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
      270deg,
      rgba(0, 95, 78, 0.642) 0%,
      rgba(45, 68, 92, 0.711) 100%
    ),
    url(seller-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.account-info-container {
  max-width: 1000px;
  height: auto;
  margin-top: -150px;
  z-index: 2;
  margin-inline: auto;
  text-align: center;
  cursor: default;
}
.account-info-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--bg_color_4);
}
.account-info-container h3 {
  color: var(--text_color_highlight_2);
}
.account-info-container .account-info-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 10px;
  background-color: var(--bg_color_5);
  border-radius: var(--border_radius_2);
}
.account-info-container .account-info-box .account-info-content {
  width: 400px;
  height: auto;
  text-align: left;
}
.account-info-container .account-info-box .account-info-content span {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.account-info-container .account-info-box .account-info-content button {
  width: 150px;
  margin-top: 20px;
  background-color: var(--primary_color);
  color: var(--text_color_lite);
  border: 1px solid var(--primary_color);
}
.account-info-container .account-info-box .account-info-content button:hover {
  background-color: var(--bg_color_5);
  color: var(--text_color_highlight_1);
}
