/* cart styles */
/* head section */
.cart-head {
  max-width: 500px;
  margin-inline: auto;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.cart-head h2 {
  color: var(--text_color_highlight_1);
  text-transform: uppercase;
}
/* cart section */
.cart-container {
  max-width: 1100px;
  margin: auto;
  padding: 10px;
  cursor: default;
}
.cart-container .cart-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.cart-container .cart-items-container {
  height: auto;
  flex: 3;
}
.cart-container .cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: var(--border_radius_1);
  background-color: var(--bg_color_5);
  margin-top: 10px;
  border: 1px solid var(--bg_color_2);
  margin-bottom: 15px;
  gap: 20px;
  transition: 300ms ease-out;
}
.cart-container .cart-item:hover {
  border: 1px solid var(--bg_color_3);
}
.cart-container .cart-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: var(--border_radius_2);
  border: 1px solid var(--bg_color_2);
}
.cart-container .cart-info {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.cart-container .cart-info .cart-info-left {
  width: auto;
  height: 150px;
}
.cart-container .cart-info .cart-info-left h3 {
  color: var(--text_color_highlight_1);
}
.cart-container .cart-info .cart-info-left h5 {
  opacity: 0.5;
  margin-top: 10px;
}
.cart-container .cart-info .cart-info-left h4 {
  margin-top: 10px;
}
.cart-container .cart-info .cart-info-left .cart-quantity-control {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.cart-container .cart-info .cart-info-left .cart-quantity-control span {
  width: 50px;
  text-align: center;
}
.cart-container .cart-info .cart-info-left .cart-quantity-control button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bg_color_4);
  font-size: 19px;
  cursor: pointer;
}
.cart-container .cart-info .cart-info-right {
  display: flex;
  align-items: end;
}
.cart-container .cart-info .cart-info-right .cart-action {
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cart-container .cart-info .cart-info-right .cart-action h4:nth-child(1) {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #178bcd;
  color: var(--text_color_lite);
  border: 1px solid #178bcd;
  cursor: pointer;
  transition: 300ms ease-out;
}
.cart-container .cart-info .cart-info-right .cart-action h4:nth-child(1):hover {
  background-color: var(--bg_color_5);
  color: #178bcd;
}
.cart-container .cart-info .cart-info-right .cart-action h4:nth-child(2) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms ease-out;
  color: var(--text_color_1);
}
.cart-container .cart-info .cart-info-right .cart-action h4:nth-child(2):hover {
  color: var(--text_color_lite);
  background-color: #cf5353;
}
.cart-container .cart-summary {
  height: 350px;
  flex: 1;
  padding: 20px;
  border: 1px solid var(--secondary_color);
  border-radius: var(--border_radius_1);
  min-width: 250px;
  margin-top: 10px;
  position: sticky;
  top: 150px;
}
.cart-container .cart-summary h3 {
  width: 100%;
  height: 40px;
  background-color: black;
  color: var(--text_color_lite);
  border-radius: var(--border_radius_2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.cart-container .cart-summary span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-container .cart-summary span:nth-child(2) {
  margin-top: 20px;
}
.cart-container .cart-summary span h6 {
  font-size: 16px;
}
.cart-container .cart-summary h4 {
  color: var(--text_color_highlight_2);
  margin-top: 30px;
}
.cart-container .cart-summary h5 {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  background-color: #fec349;
  border: 1px solid #fec349;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  cursor: pointer;
  transition: 300ms ease-out;
}
.cart-container .cart-summary h5 img {
  width: auto;
  height: 40px;
}
.cart-container .cart-summary .cart-card-option {
  background-color: #2c2f2f;
  border: 1px solid #2c2f2f;
  color: var(--text_color_lite);
  margin-top: 10px;
}
.cart-container .cart-summary h5:hover {
  background-color: var(--bg_color_4);
  color: var(--text_color_1);
}
.cart-container .empty {
  text-align: center;
  margin-top: 50px;
  color: #888;
}
